<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% block style %}{% endblock %}

</head>
<body>

    <header>
        <div class="container">
            <div class="logo" ><a class="logo" href="{{ url_for('main.index') }}" >
                <img class="logo_image" src="{{ url_for('static', filename='image/logo.png')}}" alt="Пример">
                <div class="logo_name">PizzaRock</div>
            </a></div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('main.index') }}">Главная</a></li>
                    <li><a href="{{ url_for('category.get_category', category_name='pizza') }}">Пицца</a></li>
                    <li><a href="{{ url_for('category.get_category', category_name='sushi') }}">Суши</a></li>
                    <li><a href="{{ url_for('category.get_category', category_name='wok') }}">Wok</a></li>
                    <li><a href="#">Салаты</a></li>
                    <li><a href="{{ url_for('category.get_category', category_name='drink') }}">Напитки</a></li>
                    <li><a href="#">Десерты</a></li>
                    <!-- <li><a href="{{ url_for('add_product.create_product') }}">Товары</a></li> -->
                </ul>
            </nav>
            
            {% if current_user.root == 'admin' %}
                <a class="admin-management" href="{{ url_for('add_product.create_product') }}">Управление</a>
                <a href="{{ url_for('cart.user_cart') }}" class="cart-link">
                    <i class="fas fa-shopping-cart"></i>
                    Корзина
                    <span class="cart-counter">0</span> <!-- Здесь будет динамическое число -->
            {% elif  current_user.root == 'user' %}
                <div class="cart-container">
                    <a href="{{ url_for('cart.user_cart') }}" class="cart-link">
                        <i class="fas fa-shopping-cart"></i>
                        Корзина
                        <span class="cart-counter">0</span> <!-- Здесь будет динамическое число -->
                    </a>
                </div>

            {% endif %}

            <div class="auth-buttons">
                {% if current_user.is_authenticated %}
                <span style="align-content: center; color: orange; font-weight: bold;">{{ current_user.name }}</span>
                <a href="{{ url_for( 'user.logout' )}}" class="btn btn-login">Выйти</a>
                {% else %}
                    <a href="{{ url_for( 'user.login' )}}" class="btn btn-login">Войти</a>
                    <a href="{{ url_for('user.register') }}" class="btn btn-signup">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </header>


    {% block content%}{% endblock %}

    <!-- Футер -->
    <footer>
        <div class="footer-container">
            <p class="copyright">© 2025 Company, Inc</p>

            <nav>
                <ul>
                    <li><a href="{{ url_for('main.index') }}">Главная</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </nav>

            <div class="social-icons">
                <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </footer>
</body>

{% if current_user.is_authenticated %}
<script>

    // Обновление корзины при каждой загрузки страницы
    function updateCartCounter(cart_count){
        document.querySelector('.cart-counter').textContent = cart_count;
    }

    fetch('/api/cart/count')
    .then(response => response.json())
    .then(data => {
        updateCartCounter(data.cart_count);
    });

</script>

{% endif %}
</html>