{% extends 'main/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block style %}
<style>

    .auth-form {
        background: white;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 2px 11px rgba(0,0,0,0.3);
    }
    h1 {
        text-align: center;
        margin-bottom: 25px;
        color: #333;
        font-size: 24px;
    }
    .form-group {
        margin-bottom: 20px;
    }
    label {
        display: block;
        margin-bottom: 8px;
        font-weight: 500;
        color: #555;
        font-size: 15px;
    }
    input {
        width: 100%;
            padding: 12px 15px;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 15px;
            transition: border 0.3s;
    }
    input:focus {
        border-color: #FFA500;
        outline: none;
    }
    .checkbox-group {
        margin: 20px 0;
        display: flex;
        align-items: center;
    }
    .checkbox-group input {
        width: auto;
        margin-right: 10px;
    }
    .submit-btn {
        width: 100%;
        padding: 12px;
        background-color: #FFA500 ;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .submit-btn:hover {
        background-color: #ff8c00 ;
    }
    .divider {
        text-align: center;
        margin: 10px 0;
        color: #999;
    }
    .login_form {
        background: white;
        width: 500px;
        justify-content: center;

        /* border-radius: 8px;
        padding: 30px;
        box-shadow: 0 2px 11px rgba(0,0,0,0.3); */
    }
    .center {
            margin-left: 550px;
            margin-top: 25px;
        }
    .register_btn {
        color: #FFA500;
        text-decoration: none; 
    }
    .register_btn:hover {
        color: #ff8c00;
        text-decoration: underline; 
    }
    .login-error {
        color: red;
        text-align: center;
    }
    .login-success {
        color: green;
        text-align: center;
    }
    
</style>
{% endblock %}

{% block content%}
<div class="login_form center">
    <div class="auth-form">

        <h1>Авторизация</h1>
        {% for category, message in get_flashed_messages(with_categories=true) %}
        <h3 class="form-container login-{{ category }}">{{message}}</h3>
        {% endfor %}

        <form method="POST">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="phone">{{ form.phone.label }}</label>
                {{ form.phone(placeholder="+375 (XX) XXX-XX-XX", type="tel") }}
                <!-- <input 
                    type="tel" 
                    id="phone" 
                    name="phone" 
                    placeholder="+375 (XX) XXX-XX-XX" 
                    pattern="\+375 \(\d{2}\) \d{3}-\d{2}-\d{2}" 
                    required
                > -->
            </div>
            
            <div class="form-group">
                <label for="password">{{ form.password.label}}</label>
                {{ form.password(placeholder="Введите ваш пароль") }}
                <!-- <input 
                    type="password" 
                    id="password" 
                    name="password" 
                    placeholder="Введите ваш пароль" 
                    required
                > -->
            </div>
            
            <div class="checkbox-group">
                {{ form.remember }}
                {{ form.remember.label }}
                <!-- <input type="checkbox" id="remember" name="remember">
                <label for="remember">Запомнить меня</label> -->
            </div>
            
            {{ form.submit(class="submit-btn") }}

            <!-- <button type="submit">Войти</button> -->
            
            <div class="divider">---</div>
            
            <p style="text-align: center;">
                Нет аккаунта? <a href="{{ url_for('user.register') }}" class="register_btn">Зарегистрируйтесь</a>
            </p>
        </form>
    </div>
</div>

<!-- Если успешно авторизовался перенаправляет на главную страницу через 1 сек -->
<!-- set flashed_messages создает временную переменную
 flashed_messages содержит список кортежей формата (категория, сообщение)
flashed_messages[0][0] обращаюсь к первому элементу списка и беру категорию
-->
{% set flashed_messages = get_flashed_messages(with_categories=true) %} 
{% if flashed_messages and flashed_messages[0][0] == 'success' %}
    <script>
        setTimeout(function() {
            window.location.href = "{{ url_for('main.index') }}";
        }, 1000);
    </script>
{% endif %}

{% endblock%}